@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background: linear-gradient(to right,#4d29ba 60%,#757ee5 100%);
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 200px;
}



/* title top */
.container .title{
    color: #fdf55b;
    font-size: 4rem;
    display: block;
    margin-bottom: 50px;
}

/* date */
.container .date{
    background-color: #877bd1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    border-radius: 10px;
    gap: 15px;
    width: 620px;
    margin-bottom: 50px;
}


.container .date input{
    height: 60px;
    flex-grow: 1;
    padding: 0px 15px;
    cursor: pointer;
    font-size: 1rem;
    outline: none;
}

.container .date button{

    background-color: #fff467;
    border: none;
    border-radius: 4px;
    padding: 13px 20px;
    cursor: pointer;
}


.container .result{
    color: #e1e1e1;
    font-size: 1.1rem;
}
